/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

#language-options {
    text-align: center;
}

#language-options h2 {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.language-button {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.language-button:hover {
    background-color: #111;
}
